/* Variables */

// Breakpoints

$breakpoints: (
  sm: 480px,
  md: 768px,
  lg: 1024px,
);

// Colors

$color-primary: #66e2dc;
$color-secondary: #fa7453;
$color-terciary: #ffb964;
$color-light: #fcfaf9;
$color-dark: #191826;

// Fonts

$base-font-family: 'IBM Plex Sans', sans-serif;
$base-font-size: 100%;
$base-font-color: $color-dark;

$base-font-weight: 400;
$base-line-height: 1.25;

// Spacing

$space-xs: 8px;
$space-s: 16px;
$space-m: 24px;
$space-l: 32px;
$space-xl: 40px;
