<header class="header">
  <div class="container">
    header
  </div>
</header>

<style lang="scss">
  @import '../styles/scss/abstracts/_variables';
  @import '../styles/scss/abstracts/_mixins';
</style>
