<header class="BaseHeader">
  <div class="container">
    <a class="BaseHeader-logoLink" href="/">
      <img src="/assets/images/equalizer.svg" alt="Equalizer Logo" >
    </a>
  </div>
</header>

<style lang="scss">
  @import '../styles/scss/abstracts/_variables';

  .BaseHeader {
    padding-block: $space-xl;

    &-logoLink {
      display: block;
      max-width: 147px;
    }
  }
</style>
