---
export interface Props {
  title: string
  description: string
  author: string
}
const { title, description, author } = Astro.props
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="icon" type="image/svg+xml" href="/assets/icons/favicon.svg" />

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="author" content={author} />

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap" rel="stylesheet">


<meta property="og:type" content="website" />
<meta property="og:url" content="https://main--glittering-profiterole-8b0117.netlify.app/" />
<meta property="og:title" content="OG title of the page" />
<meta property="og:description" content="OG description of the page" />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="https://main--glittering-profiterole-8b0117.netlify.app/" />
<meta property="twitter:title" content="OG title of the page" />
<meta property="twitter:description" content="OG description of the page" />


<meta property="og:image" content="../../public/assets/images/og.png" />
<meta property="twitter:image" content="../../public/assets/images/og.png" />
