/* Typography */

html {
  font-size: $base-font-size;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

/*
h1,
.h1-like {
    font-size: $font-size-heading;
    line-height: $line-height-heading;
    font-weight: $font-weight-heading;
    margin-bottom: $space-m;
}

p,
.p-like {
    margin-bottom: $space-xl;
}
*/
